.page_container {
  display: flex;
  justify-content: center;
}

h1 {
  display: flex;
  justify-content: center;
}

.game_container {
  display: flex;
  position: absolute;
  height: 600px;
  width: 600px;
  margin: auto;
  overflow: hidden;
}

.heart_container {
  display: flex;
  position: absolute;
  height: 32px;
  width: 96px;
}

@keyframes animatedBackground {
  to {background-position: 229% 0;}
}

#background {
  background-image: url("../Images/8bit_background2.png");
  background-position: 0 0;
  background-repeat: repeat-x;
  height: inherit;
  width: inherit;
  animation: animatedBackground 10s linear infinite;
  animation-play-state: paused;
}

.player {
  position: absolute;
  height: 40px;
  width: 60px;
  content:url("../images/Enemy.png");
}

.enemy {
  position: absolute;
  height: auto;
  width: auto;
  content:url("../images/Enemy.png");
}

.heart {
  height: 32px;
  width: 32px;
  background: url("../images/Heart.png") 0px 0px;
}
